/*滾動效果*/
html{
    scroll-behavior: smooth;
}
/*目次導引調整*/
.content-adjust{
    scroll-margin-top: 85px;
}
/*內容區域*/
.content{
    width: auto;
    /*float: left;*/
    padding: 20px;
}
/*目次css*/
.toc{
    position: fixed;
    top: 200px;
    right: 5%;
    width: 200px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    /*z-index: 1000;*/

}

.toc ul{
    list-style-type: none;
    padding-left: 0;
}
.toc li{
    margin-bottom: 10px;
}
.toc a{
    text-decoration: none;
    color: #0366d6;
}
.toc a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .toc {
        position: static;
        width: 100%; /* 可根据需要调整宽度 */
        display: flex;
        flex-direction: column; /* 确保 h2 和其他元素按[列]排列 */
        align-items: center; /* 水平居中 */
    }

    .toc li {
        display: inline;
        font-size: 20px;
        margin-inline: 5px;
    }
}

/*隊伍費用css*/
.amount {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    position: relative;
    display: inline-block;
}
.amount::before {
    content: "$";
    position: absolute;
    left: 0;
}
.number {
    margin-left: 1ch; /* 1 characters space */
    display: inline-block;
}

/*時間表格css*/

 .styled-table{
     width: 100%;
     border-collapse: collapse;
     background-color: #f4f4f4;
 }
.styled-table thead tr{
    background-color: #ddd;
}
.styled-table th, .styled-table td{
    padding: 10px;
    text-align:  left;
    border: 1px solid #ddd;
}
.styled-table tbody tr:nth-child(even){
    background-color:  #e9e9e9;
}
.style-table tbody tr:hover{
    background-color: #d1d1d1;
}



